/* Light Theme */

.theme-light {
  --accent-color: #0070f7;
  --back-color: #fff;
  --border-color: #888;
  --fore-color: #333;
  --menu-color: #eee;
}

/* Dark Theme */

.theme-dark {
  --accent-color: #008cff;
  --back-color: #000;
  --border-color: #888;
  --fore-color: #d5d5d5;
  --menu-color: #222;
}

/* Print Styles */

@media print {
  body {
    background-color: #fff;
  }

  #menu {
    visibility: hidden;
  }

  .section-links {
    visibility: hidden;
  }
}

/* Modal Styles */

#modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#modal-content {
  background-color: var(--back-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  margin: 10% auto;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

#modal-buttons {
  justify-self: right;
  margin-top: 8px;
}

#modal-buttons > button {
  margin-left: 12px;
  margin-right: 0;
}

#modal-input {
  margin: 2px 8px 12px 8px;
  min-width: 256px;
  width: 100%;
}

#modal-colour {
  border-radius: 2px;
  margin: 2px 8px 12px 8px;
  padding: 0;
  width: 100%;
}

#modal-list {
  border-width: 1px;
  display: grid;
  gap: 4px;
  grid-auto-flow: row;
  justify-items: left;
  margin: 2px 8px 12px 8px;
  max-height: 33vh;
  /* min-height: 96px; */
  min-width: 160px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.modal-list-item {
  border-radius: 4px;
  border: 0;
  /* height: 32px; */
  margin: 0;
  padding: 4px 0 4px 8px;
  width: 100%;
}

.modal-list-item:hover {
  background-color: rgba(0, 128, 256, 0.2);
}

.modal-list-item > img {
  height: 32px;
  vertical-align: middle;
  width: 32px;
}

.modal-list-item > span {
  /* font-weight: normal; */
  padding-left: 12px;
  text-align: left;
  /* vertical-align: middle; */
}

#modal-text {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

/* Common Styles */

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--accent-color);
}

html {
  background-color: var(--back-color);
  color: var(--fore-color);
  font-family: Arial;
  font-size: 16px;
}

body {
  margin: 8px 8px 32px 8px;
}

h1 {
  color: var(--accent-color);
  margin-bottom: 8px;
  margin-top: 0;
}

h2 {
  font-size: 18px;
  margin: 0;
}

h3 {
  font-size: 16px;
  margin: 10px 0 2px 0;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: text-top;
}

p {
  margin-bottom: 12px;
  margin-top: 0;
}

button {
  border-radius: 4px;
  border: 1px solid var(--menu-color);
  cursor: pointer;
  font-weight: bold;
  margin: 2px 8px;
  min-width: 64px;
  padding: 6px 8px;
}

button > img {
  padding-right: 8px;
  vertical-align: middle;
}

a.skip-link {
  left: 0;
  padding: 8px;
  position: absolute;
  top: -128px;
  z-index: 4;
}

a.skip-link:link,
a.skip-link:visited,
a.skip-link:hover,
a.skip-link:active {
  background: #000;
  color: #fff;
}

a.skip-link:focus {
  top: 0;
}

div.divider {
  border-bottom: 1px solid #ccc;
  margin: 4px 0;
}

div.spacer {
  height: 16px;
}

#menu {
  background: var(--menu-color);
  border-bottom-left-radius: 8px;
  border-bottom: 0.5px solid var(--border-color);
  border-left: 0.5px solid var(--border-color);
  line-height: 16px;
  padding: 4px;
  position: fixed;
  top: 0;
  transform: translateZ(0);
  z-index: 2;
}

a.home-link {
  background: url(/media/sprites.svg#home) left center no-repeat;
  background-size: 16px;
  margin: 0 2px;
  padding-left: 20px;
}

.new::after {
  background: url(/media/sprites.svg#new) center no-repeat;
  background-size: 9px;
  content: "";
  display: inline-block;
  height: 9px;
  padding-left: 4px;
  vertical-align: top;
  width: 9px;
}

input,
select,
button {
  background-color: var(--menu-color);
  color: var(--fore-color);
}

input[type=range] {
  accent-color: var(--accent-color);
}

/* Checkboxes */

input[type=checkbox] {
  appearance: none;
  background: none;
  border-radius: 2px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  height: 14px;
  margin: 3px 5px 2px 1px;
  padding: 0;
  vertical-align: text-bottom;
  width: 14px;
}

input[type='checkbox']:checked {
  background-color: #e60000;
  border-radius: 2px;
  border: 1px solid var(--accent-color);
}

input[type='checkbox']:disabled {
  background-color: #888;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: default;
}
