@import 'common.css';

/* Print Styles */

@media print {
  #compare-slider {
    visibility: hidden;
  }
}

/* Common Styles */

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}

h1 {
  display: none;
}

#menu {
  right: 0;
}

.back-link {
  background: url(/media/sprites.svg#back) left center no-repeat;
  background-size: 16px;
  margin: 0 2px;
  padding-left: 20px;
}

.compare {
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#compare-overlay {
  border-right: 4px solid rgba(128, 128, 128, 0.5);
  width: 50%;
}

.compare-frame {
  border: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#compare-slider {
  bottom: 0;
  height: 20px;
  left: 0;
  margin: 0;
  opacity: 60%;
  padding: 0;
  position: absolute;
  width: 100%;
}

#compare-slider:hover {
  opacity: 100%;
}
