@import 'common.css';

h1 {
  background: url(/media/sprites.svg#download) left center no-repeat;
  background-size: 20px;
  font-size: 24px;
  padding-left: 28px;
}

h2 {
  font-size: 22px;
  margin: 16px 0;
}

#menu {
  right: 0;
}

table {
  border-spacing: 0;
}

tr:nth-child(2n) {
  background-color: rgba(127, 127, 255, .15);
}

.diagram {
  padding: 4px 16px 4px 8px;
  text-align: left;
}

.download {
  text-align: center;
}

.download > a {
  background: url(/media/sprites.svg#download) center no-repeat;
  background-size: 16px;
  content: "";
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 16px;
}

th.download {
  padding: 0 8px;
}

li {
  padding: 2px 0;
}
