@import 'common.css';

h1 {
  background: url(/media/sprites.svg#cog) left center no-repeat;
  background-size: 20px;
  font-size: 24px;
  padding-left: 28px;
}

#menu {
  right: 0;
}

div.settings-collection {
  align-items: center;
  display: grid;
  gap: 2px 16px;
  grid-auto-columns: minmax(min-content, max-content) auto;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
}

div.divider {
  grid-column: span 2;
  grid-row: auto;
}

h2.settings-header {
  font-size: 18px;
  grid-column: 1;
  grid-row: auto;
  justify-self: start;
  margin: 0;
}

h2.highlight {
  background: url(/media/sprites.svg#highlight) left center no-repeat;
  background-size: 18px;
  padding-left: 24px;
}

h2.menu {
  background: url(/media/sprites.svg#grip) left center no-repeat;
  background-size: 18px;
  padding-left: 24px;
  transform: scaleX(1);
}

h2.theme {
  background: url(/media/sprites.svg#theme) left center no-repeat;
  background-size: 18px;
  padding-left: 24px;
}

h2.zoom {
  background: url(/media/sprites.svg#zoom) left center no-repeat;
  background-size: 18px;
  padding-left: 24px;
}

input[type=color] {
  border-radius: 2px;
  height: 24px;
  margin: 2px 0;
  padding: 0;
  width: 64px;
}

select {
  border-radius: 2px;
  height: 24px;
  margin: 2px 0;
  width: 120px;
}

div.settings-values {
  grid-column: 2;
  grid-row: auto;
  margin: 0;
  padding: 0;
}

#defaults {
  background: var(--menu-color) url(/media/sprites.svg#defaults) left 8px center no-repeat;
  background-size: 18px;
  padding: 8px 8px 6px 32px;
}

#save {
  background: var(--menu-color) url(/media/sprites.svg#save) left 8px center no-repeat;
  background-size: 18px;
  padding: 8px 8px 6px 32px;
}

#cancel {
  background: var(--menu-color) url(/media/sprites.svg#delete) left 8px center no-repeat;
  background-size: 18px;
  padding: 8px 8px 6px 32px;
}
