@import 'common.css';

/* Print Styles */

@media print {
  #edit-controls {
    visibility: hidden;
  }

  #image-controls {
    visibility: hidden;
  }

  svg {
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
  }
}

/* Common Styles */

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  overflow: hidden;
  position: relative;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  display: none;
}

svg {
  display: none;
  position: absolute;
}

.m365maps-select {
  filter: drop-shadow(0 0 10px #ff0);
}

#file-selector {
  display: none;
}

.download-link {
  display: none;
}

.edit-mode a {
  cursor: default;
}

.draw-mode path.m365maps-draw {
  cursor: grab;
}

.text-mode text.m365maps-text {
  cursor: grab;
}

.scrolling,
.scrolling a,
.scrolling.edit-mode a,
.scrolling button,
.scrolling input {
  cursor: all-scroll !important;
}

.moving,
.moving a,
.moving.edit-mode a,
.moving button,
.moving input,
.moving text.m365maps-text,
.moving path.m365maps-draw {
  cursor: grabbing !important;
}

.drawing,
.drawing a,
.drawing.edit-mode a,
.drawing button,
.drawing input,
.drawing path.m365maps-draw {
  cursor: crosshair !important;
}

.rotating,
.rotating a,
.rotating.edit-mode a,
.rotating button,
.rotating input,
.rotating text.m365maps-text {
  cursor: grabbing !important;
}

.resizing,
.resizing a,
.resizing.edit-mode a,
.resizing button,
.resizing input,
.resizing text.m365maps-text {
  cursor: ns-resize !important;
}

.erasing,
.erasing a,
.erasing.edit-mode a,
.erasing button,
.erasing input,
.erasing path.m365maps-draw,
.erasing text.m365maps-text {
  cursor: pointer !important;
}

.moving #menu-edit {
  background: url(/media/sprites.svg#move) center no-repeat;
  background-size: 16px;
}

.rotating #menu-edit {
  background: url(/media/sprites.svg#rotate) center no-repeat;
  background-size: 16px;
}

.resizing #menu-edit {
  background: url(/media/sprites.svg#resize) center no-repeat;
  background-size: 16px;
}

.erasing #menu-edit {
  background: url(/media/sprites.svg#erase) center no-repeat;
  background-size: 16px;
}

/* Menu */

#menu {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: space-evenly;
  right: -500px;
  transition: 0.3s;
  width: min-content;
}

#menu > button {
  border-radius: 0;
  border: 0;
  color: var(--accent-color);
  font-weight: normal;
  height: 16px;
  margin: 0;
  min-width: 16px;
  width: 16px;
}

#menu > button.active {
  filter: hue-rotate(45deg);
}

@keyframes grip-open {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(-1);
  }
}

@keyframes grip-close {
  from {
    transform: scaleX(-1);
  }

  to {
    transform: scaleX(1);
  }
}

#menu-grip {
  background: url(/media/sprites.svg#grip) center no-repeat;
  background-size: 16px;
}

#menu-grip.open {
  animation: 0.4s linear 0.3s 1 normal forwards running grip-open;
  transform: scaleX(1);
}

#menu-grip.close {
  animation: 0.4s linear 0.3s 1 normal forwards running grip-close;
  transform: scaleX(-1);
}

#menu-back {
  background: url(/media/sprites.svg#back) center no-repeat;
  background-size: 16px;
}

#menu-flag.flagged {
  background: url(/media/sprites.svg#flagged) center no-repeat;
  background-size: 16px;
}

#menu-flag.unflagged {
  background: url(/media/sprites.svg#unflagged) center no-repeat;
  background-size: 16px;
}

#menu-save {
  background: url(/media/sprites.svg#save) center no-repeat;
  background-size: 16px;
}

#menu-edit {
  background: url(/media/sprites.svg#edit) center no-repeat;
  background-size: 16px;
}

#menu-controls {
  background: url(/media/sprites.svg#controls) center no-repeat;
  background-size: 16px;
}

#menu-map {
  background: url(/media/sprites.svg#map) center no-repeat;
  background-size: 16px;
  display: none;
}

#menu-export-svg,
#menu-export-png {
  background: url(/media/sprites.svg#export) left center no-repeat;
  background-size: 16px;
  padding: 1px 2px 1px 18px;
  width: 50px !important;
}

#menu-download-pdf,
#menu-download-png {
  background: url(/media/sprites.svg#download) left center no-repeat;
  background-size: 16px;
  padding: 1px 2px 1px 18px;
  width: 50px !important;
}

/* Edit Controls */

#edit-controls {
  background: var(--menu-color);
  border-bottom-left-radius: 8px;
  border-bottom: 0.5px solid var(--border-color);
  border-left: 0.5px solid var(--border-color);
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  min-width: 138px;
  padding: 8px;
  position: fixed;
  right: 0;
  top: -300px;
  transform: translateZ(0);
  transition: 0.5s;
  z-index: 1;
}

#edit-controls > div {
  border-radius: 4px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
}

#edit-controls > div > button {
  border: 0;
  color: var(--accent-color);
  font-weight: normal;
  height: 32px;
  margin: 0;
  padding-left: 40px;
  text-align: left;
  width: 100%;
}

#edit-controls > div:not(.active) {
  filter: saturate(0);
}

#edit-controls > div.active {
  border: 1px solid var(--accent-color);
}

#edit-controls > div > input[type=color] {
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  height: 24px;
  margin: auto 4px;
  padding: 0;
  width: 28px;
}

#menu-highlight {
  background: url(/media/sprites.svg#highlight) left 8px center no-repeat;
  background-size: 18px;
}

#menu-draw {
  background: url(/media/sprites.svg#draw) left 8px center no-repeat;
  background-size: 18px;
}

#menu-text {
  background: url(/media/sprites.svg#text) left 8px center no-repeat;
  background-size: 18px;
}

#menu-image {
  background: url(/media/sprites.svg#image) left 8px center no-repeat;
  background-size: 18px;
}

#menu-link {
  background: url(/media/sprites.svg#link) left 8px center no-repeat;
  background-size: 18px;
}

#menu-notes {
  background: url(/media/sprites.svg#notes) left 8px center no-repeat;
  background-size: 18px;
}

/* Image Controls */

#image-controls {
  align-items: center;
  background: var(--menu-color);
  border-bottom-left-radius: 8px;
  border-bottom: 0.5px solid var(--border-color);
  border-left: 0.5px solid var(--border-color);
  color: var(--accent-color);
  display: grid;
  gap: 12px 8px;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  justify-content: space-evenly;
  line-height: 16px;
  padding: 8px;
  position: fixed;
  right: 0;
  top: -300px;
  transform: translateZ(0);
  transition: 0.5s;
  width: min-content;
  z-index: 1;
}

#image-controls > label {
  grid-column: 1;
  grid-row: auto;
}

#image-controls > input {
  grid-column: 2;
  grid-row: auto;
}

#image-controls-buttons {
  grid-column: span 2;
  grid-row: auto;
  justify-self: right;
  margin-top: 4px;
}

#image-controls-buttons > button {
  margin: 0 0 0 8px;
  padding: 8px 8px 6px 32px;
}

#image-controls-reset {
  background: url(/media/sprites.svg#defaults) left 8px center no-repeat;
  background-size: 18px;
}

#image-controls-save {
  background: url(/media/sprites.svg#save) left 8px center no-repeat;
  background-size: 18px;
}

/* Zoom Controls */

#zoom-controls {
  background: var(--menu-color);
  border-radius: 8px;
  border: 0.5px solid var(--border-color);
  bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-evenly;
  position: fixed;
  right: 8px;
  z-index: 1;
}

#zoom-controls > button {
  border: 0;
  height: 22px;
  margin: 0;
  min-width: 22px;
  width: 22px;
}

#menu-zoom-in {
  background: url(/media/sprites.svg#plus) center no-repeat;
  background-size: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#menu-zoom-reset {
  background: url(/media/sprites.svg#zoom) center no-repeat;
  background-size: 16px;
}

#menu-zoom-out {
  background: url(/media/sprites.svg#minus) center no-repeat;
  background-size: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
